body {
    text-align: center;
}

.controls{
    width: 100%;
}

.controls button {
    text-align: center;
}

.controls .bootstrap-select{
    float: left;
    width: 200px;
}

.controls .bootstrap-select .dropdown-toggle{
    padding: 0;
}

.controls .bootstrap-select li {
    height: 45px;
    overflow: hidden;
}

.controls .bootstrap-select img {
    width: 45px;
    height: 70px;
    margin-top: -20px;
}

.controls #level {
    width: 100px;
    float: left;
    text-align: center;
}
