body {
    text-align: center;
}

.controls{
    float: left;
    width: 100%;
    z-index: 100;
}

.controls button {
    text-align: center;
}

.bootstrap-select .dropdown-toggle{
    padding: 0;
}

.bootstrap-select li {
    height: 45px;
    overflow: hidden;
}

.bootstrap-select img {
    width: 45px;
    height: 70px;
    margin-top: -20px;
}
/*
canvas {
    margin: 0 auto;
    float: left;
}*/
